body {
    font-family: Arial, sans-serif;
}
.header {
    padding: 10px;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.cart-section {
    text-align: center;
    margin: 20px;
}
.cart-section h1 {
    font-size: 24px;
    font-weight: bold;
}
.product-list {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0; 
}
.product-item img {
    width: 170px;
    height: 170px;
}
.product-item p {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.product-details {
    flex-grow: 1;
    margin-left: 20px;
}
.product-actions {
    display: flex;
    align-items: center;
}
.product-actions input {
    width: 60px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}
.product-actions button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 25px;
}
.product-actions button:hover{
    background-color: #9a9999;
}
.promo-code {
    text-align: center;
    margin: 20px 0;
}
.promo-code input {
    width: 350px;
    height: 30px;
    font-size: 25px;
    padding: 5px;
}
.summary {
    width: 80%;
    margin: 20px auto;
    text-align: right;
}
.summary p {
    margin: 5px 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.buttons {
    text-align: center;
    margin: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 25px;
}
.pay-button {
    background-color: #99ff99;
    border: none;
    color: rgb(255, 255, 255);
}
.delete-button {
    background-color: rgb(247, 67, 67);
    border: none;
    color: white;
}
.pay-button:hover {
    background-color: green;
}
.delete-button:hover {
    background-color: red;
}
#apply-promo-button{
    font-size: 30px;
}